.App {
  text-align: center;
}

.App-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-center: center;
  width: 618px;
  height: 618px;
  margin: 0 auto;
}

.App-square {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

.App-square--mole {
  background-image: url('./mole.png');
  background-size: contain;
}
