.App {
  text-align: center;
}

.App-button {
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background: #0069ed;
  color: #FFF;
  font-size: 1rem;
  cursor: pointer;
  transition: background 250ms ease-in-out;
}

.App-button:hover, .App-button:focus {
  background: #0053ba;
}

.App-button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.App-button:active {
    transform: scale(0.99);
}

.App-title {
  color: #1c9737;
}

.App-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 620px;
  height: 620px;
  margin: 1rem auto 0;
}

.App-square {
  cursor: grabbing;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

.App-square--mole {
  background-image: url('./mole.png');
  background-size: contain;
}
